.specialsSection {
    padding-top: 10px;
}

.specialsSection>span:first-of-type {
    grid-column: 3 / span 5;
}

.specialsSection>span:last-of-type {
    grid-column: 8 / span 3;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 4rem;
    height: 77px;
}

.specialsSection>div {
    grid-column: 3 / span 8;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
}

@media screen and (max-width: 1620px) {
    .specialsSection>span:first-of-type {
        grid-column: 2 / span 8;
    }

    .specialsSection>span:last-of-type {
        grid-column: 10 / span 2;
    }

    .specialsSection>div {
        grid-column: 2 / span 10;
    }
}

@media screen and (max-width: 1296px) {
    .specialsSection>span:first-of-type {
        grid-column: 1 / span 10;
    }

    .specialsSection>span:last-of-type {
        grid-column: 11 / span 2;
    }

    .specialsSection>div {
        grid-column: span 12;
    }
}

@media screen and (max-width: 1127px) {
    .specialsSection>span:last-of-type {
        align-items: flex-start;
    }
}

@media screen and (max-width: 947px) {
    .specialsSection>div {
        justify-content: center;
        gap: 2rem 6rem;
    }
}

@media screen and (max-width: 750px) {
    .specialsSection>span:first-of-type {
        grid-column: 2 / span 11;
        margin-bottom: 0.85rem;
    }

    .specialsSection>span:last-of-type {
        grid-column: 2 / span 11;
        display: block;
        height: fit-content;
    }
}

@media screen and (max-width: 674px) {
    .specialsSection>div {
        gap: 2rem;
    }
}

@media screen and (max-width: 398px) {
    .specialsSection>span:first-of-type {
        grid-column: span 12;
        margin-bottom: 0.85rem;
    }

    .specialsSection>span:first-of-type h2 {
        line-height: 0.9;
    }

    .specialsSection>span:last-of-type {
        grid-column: span 12;
    }
}
