footer {
    position: relative;
    min-height: 417px;
    background-color: var(--highlight);
}

footer .defaultLogo {
    grid-column: 3 / span 2;
    align-self: center;
    width: 132px;
}

footer h4 {
    font-family: var(--pFont);
    font-weight: 500;
    font-size: var(--smExH);
    color: var(--pGreen);
    margin-bottom: 1rem;
}

footer a,
footer p {
    font-family: var(--pFont);
    font-weight: 400;
    font-size: var(--pMd);
    color: var(--bP);
}

footer>div:first-of-type {
    grid-column: 5 / span 6;
    display: flex;
    align-items: center;
}

footer>div:first-of-type>div {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    flex-wrap: wrap;
    width: 100%;
}

footer ul {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-left: 6px;
}

footer>div:last-child {
    grid-column: span 12;
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem;
}

footer>div:last-child .mobileLogo {
    display: none;
}

footer>div:last-child p {
    font-size: var(--smExH);
    font-style: italic;
    margin-bottom: 0.5rem;
    align-self: flex-end;
}

@media screen and (max-width: 1435px) {
    footer .defaultLogo {
        grid-column: 2 / span 2;
    }

    footer>div:first-of-type {
        grid-column: 5 / span 7;
    }
}

@media screen and (max-width: 1024px) {
    footer .defaultLogo {
        grid-column: 1 / span 2;
    }

    footer>div:first-of-type {
        grid-column: 4 / span 9;
    }
}

@media screen and (max-width: 735px) {
    footer .defaultLogo {
        display: none;
    }

    footer>div:first-of-type {
        grid-column: span 12;
        align-items: flex-start;
        margin: 3.5rem 0 2rem 0;
    }

    footer>div:first-of-type>div {
        align-items: flex-start;
    }

    footer>div:last-child {
        justify-content: space-between;
    }

    footer>div:last-child .mobileLogo {
        display: initial;

        width: 58px;
    }
}