@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Markazi+Text:wght@500;600&display=swap");

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    background-color: var(--bgColour);
}

.twelveColGrid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 20px;
    padding-inline: 70px;
}

ul,
ol {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
    font-family: var(--hFont);
    font-weight: 500;
    color: var(--bH);
}

h2 {
    font-size: clamp(2.8125rem,
            2.3035714285714284rem + 2.2619047619047623vw,
            var(--mainH));
}

h3 {
    font-size: var(--mdH);
}

p {
    font-family: var(--pFont);
    line-height: 1.5;
}

input,
select {
    font-family: var(--pFont);
    font-size: 17px;
    padding: 12px;
    outline: none;
}

a {
    color: var(--bP);
    text-decoration: none;
}

a:hover {
    color: var(--hP);
    text-decoration: underline;
    text-decoration-color: var(--pYellow);
}

.subHeading {
    position: relative;
    bottom: 1.5rem;
    font-size: var(--subH);
}

.imgContainer img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.imgContainer .lazy-load-image-background {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 1024px) {
    .twelveColGrid {
        padding-inline: 1.5rem;
    }
}

@media screen and (max-width: 375px) {
    .twelveColGrid {
        padding-inline: 1rem;
    }
}

section {
    margin-bottom: 5rem;
}

.card {
    background-color: var(--highlight);
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    box-shadow: var(--mainShadow);
    max-width: 265px;
    transition: 0.32s ease-out;
}

.card:hover {
    transform: scale(1.1);
}

.card .imgContainer {
    height: 185px;
}

.card .imgContainer img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border: 1px solid var(--pGreen);
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}

.card .cardContentContainer {
    display: flex;
    flex-direction: column;
    padding: 1rem 1.5rem;
    height: 55.5%;
}

.card .cardContentContainer div:nth-child(1) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
}

.card .cardContentContainer div:nth-child(1) h4 {
    font-size: var(--smH);
}

.card .cardContentContainer div:nth-child(1) p {
    color: var(--sSalmon);
    font-weight: 700;
}

.card .cardContentContainer>p {
    color: var(--pGreen);
    min-height: 144px;
    margin-bottom: 1rem;
}

.card .cardContentContainer div:nth-child(3) {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.card .cardContentContainer div:nth-child(3) a {
    font-family: var(--pFont);
    font-weight: 600;
}

.card .cardContentContainer div:nth-child(3) img {
    width: 24px;
}

.primaryBtn {
    font-family: var(--pFont);
    font-size: var(--pMd);
    font-weight: 700;
    color: var(--bH);
    background-color: var(--pYellow);
    box-shadow: var(--mainShadow);
    border-radius: 1rem;
    padding-inline: 1rem;
    min-width: 200px;
    min-height: 52px;
    cursor: pointer;
    transition: 0.28s ease;
}

.primaryBtn:hover {
    color: var(-bP);
    background-color: var(--pYellowHover);
    box-shadow: var(--hoverShadow);
}

.bookingSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.confirmedBooking {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 10rem;
    gap: 2rem;
}

.confirmedBooking h2 {
    color: var(--pYellow);
}

.confirmedLogo {
    height: 200px;
}