@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Markazi+Text:wght@500;600&display=swap");

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    background-color: var(--bgColour);
}

.twelveColGrid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 20px;
    padding-inline: 70px;
}

ul,
ol {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
    font-family: var(--hFont);
    font-weight: 500;
    color: var(--bH);
}

h2 {
    font-size: clamp(2.8125rem,
            2.3035714285714284rem + 2.2619047619047623vw,
            var(--mainH));
}

h3 {
    font-size: var(--mdH);
}

p {
    font-family: var(--pFont);
    line-height: 1.5;
}

input,
select {
    font-family: var(--pFont);
    font-size: 17px;
    padding: 12px;
    outline: none;
}

a {
    color: var(--bP);
    text-decoration: none;
}

a:hover {
    color: var(--hP);
    text-decoration: underline;
    text-decoration-color: var(--pYellow);
}

.subHeading {
    position: relative;
    bottom: 1.5rem;
    font-size: var(--subH);
}

.imgContainer img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.imgContainer .lazy-load-image-background {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 1024px) {
    .twelveColGrid {
        padding-inline: 1.5rem;
    }
}

@media screen and (max-width: 375px) {
    .twelveColGrid {
        padding-inline: 1rem;
    }
}


.review {
    background-color: #faf3f2;
    border: 1px solid rgb(54, 54, 54, 0.25);
    border-radius: 1rem;
    padding: 1.5rem 1.125rem 1.125rem 1.125rem;
    max-width: 197px;
    box-shadow: var(--mainShadow);
    transition: 0.32s ease-out;
}

.starIcon {
    color: var(--pYellow);
}

.review:hover {
    transform: scale(1.1);
}

.review>div:first-child {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.625rem;
}

.review>div:first-child .imgContainer {
    border-radius: 50%;
    overflow: hidden;
    width: 2rem;
    height: 2rem;
}

.review>div:first-child div:last-child p {
    font-size: var(--pSm);
    font-weight: 600;
    color: var(--bH);
}

.review>div:first-child div:last-child small {
    font-size: var(--pExSm);
    font-weight: 500;
    color: var(--bP);
    opacity: 0.9;
}

.review>p {
    font-size: var(--pSm);
    color: var(--bP);
    opacity: 0.9;
}

section {
    margin-bottom: 5rem;
}






/* About Section */
.aboutSection {
    position: relative;
}

.aboutSection>div:first-child {
    grid-column: 3 / span 5;
    margin-right: calc(65px - 20px);
}

.aboutSection>div:first-child .titleContainer h2 {
    font-size: var(--mainH);
    color: var(--pGreen);
}

.aboutSection>div:first-child .titleContainer .subHeading {
    color: var(--sSalmon);
}

.aboutSection>div:first-child p {
    font-size: var(--pMd);
    color: var(--bP);
    opacity: 0.9;
}

.aboutSection>div:last-child {
    grid-column: 8 / span 5;
    display: flex;
    justify-content: center;
    height: 447px;
}

.aboutSection>div:last-child .imgContainer {
    width: 272px;
    height: 338px;
}

.aboutSection>div:last-child .imgContainer:first-child {
    position: relative;
    top: 109px;
    border-radius: 1rem;
    transition: 0.38s ease-out;
}

.aboutSection>div:last-child .imgContainer:first-child:hover {
    z-index: 1;
    transform: rotate(5deg) scale(1.1);
}

.aboutSection>div:last-child .imgContainer:last-child {
    position: relative;
    right: 97px;
    border-radius: 1rem;
    transition: 0.38s ease;
}

.aboutSection>div:last-child .imgContainer:last-child:hover {
    transform: rotate(-5deg) scale(1.1);
}

.aboutSection>div:last-child .imgContainer img {
    border-radius: 1rem;
    box-shadow: var(--mainShadow);
}

@media screen and (max-width: 1620px) {
    .aboutSection>div:first-child {
        grid-column: 2 / span 5;
    }

    .aboutSection>div:last-child {
        grid-column: 7 / span 6;
    }
}

@media screen and (max-width: 1296px) {
    .aboutSection>div:first-child {
        grid-column: 1 / span 6;
    }

    .aboutSection>div:last-child {
        position: absolute;
    }
}

@media screen and (max-width: 989px) {
    .aboutSection>div:first-child {
        grid-column: span 12;
        margin-right: 0;
        margin-bottom: 2rem;
    }

    .aboutSection>div:last-child {
        grid-column: span 12;
        position: relative;
        left: 2rem;
    }

    .aboutSection>div:last-child .imgContainer {
        width: 375px;
        height: 338px;
    }
}

@media screen and (max-width: 490px) {
    .aboutSection>div:last-child {
        display: none;
    }
}

.card {
    background-color: var(--highlight);
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    box-shadow: var(--mainShadow);
    max-width: 265px;
    transition: 0.32s ease-out;
}

.card:hover {
    transform: scale(1.1);
}

.card .imgContainer {
    height: 185px;
}

.card .imgContainer img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border: 1px solid var(--pGreen);
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}

.card .cardContentContainer {
    display: flex;
    flex-direction: column;
    padding: 1rem 1.5rem;
    height: 55.5%;
}

.card .cardContentContainer div:nth-child(1) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
}

.card .cardContentContainer div:nth-child(1) h4 {
    font-size: var(--smH);
}

.card .cardContentContainer div:nth-child(1) p {
    color: var(--sSalmon);
    font-weight: 700;
}

.card .cardContentContainer>p {
    color: var(--pGreen);
    min-height: 144px;
    /* font-weight: 500; */
    margin-bottom: 1rem;
}

.card .cardContentContainer div:nth-child(3) {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.card .cardContentContainer div:nth-child(3) a {
    font-family: var(--pFont);
    font-weight: 600;
    /* color: var(--pGreen); */
}

.card .cardContentContainer div:nth-child(3) img {
    width: 24px;
}

.primaryBtn {
    font-family: var(--pFont);
    font-size: var(--pMd);
    font-weight: 700;
    color: var(--bH);
    background-color: var(--pYellow);
    box-shadow: var(--mainShadow);
    border-radius: 1rem;
    padding-inline: 1rem;
    min-width: 200px;
    min-height: 52px;
    cursor: pointer;
    transition: 0.28s ease;
}

.primaryBtn:hover {
    color: var(-bP);
    background-color: var(--pYellowHover);
    box-shadow: var(--hoverShadow);
}

.bookingSection {
    margin: 0 auto 5rem auto;
    padding-inline: 1rem;
}

.bookingSection h2 {
    text-align: center;
    margin-block: 2rem;
}

/* <==========================================/ User Booking \==========================================> */

.bookingDataContainer {
    position: relative;
    background-color: var(--highlight);
    border: 3px solid var(--pGreen);
    border-radius: 6px;
    padding: 0.5rem 1rem 1rem 1rem;
    margin: 4rem auto 0 auto;
    max-width: 350px;
    box-shadow: var(--mainShadow);
}

.bookingDataContainer h3 {
    text-align: center;
    border-bottom: 1px solid var(--pGreen);
    margin-bottom: 0.5rem;
}

.bookingDataContainer article {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.bookingDataContainer article.addDivider:not(:nth-last-child(1)) {
    border-bottom: 1px solid var(--pGreen);
}

.bookingDataContainer article h4 {
    font-size: var(--smH);
    text-align: center;
}

.bookingDataContainer article .content {
    margin-left: 0.5rem;
}

.bookingDataContainer .content p {
    font-size: var(--pMd);
    font-weight: 500;
    font-style: italic;
    color: var(--bP);
    overflow: hidden;
    text-overflow: ellipsis;
}

.bookingDataContainer .content p span {
    font-size: var(--smExH);
    font-weight: 600;
    font-style: normal;
    color: var(--pGreen);
}

.bookingDataContainer #cut1 {
    position: absolute;
    top: 0;
    left: -3px;
    width: 5%;
    height: 48px;
    /* border-left: 1px dashed var(--pGreen); */
    border-bottom-right-radius: 2px;
    background-color: var(--highlight);
}

.bookingDataContainer #cut2 {
    position: absolute;
    bottom: 0;
    right: -3px;
    width: 5%;
    height: 48px;
    /* border-right: 1px dashed var(--pGreen); */
    border-bottom-right-radius: 2px;
    background-color: var(--highlight);
}