header {
  display: flex;
  justify-content: center;
  min-height: 123px;
}

header img,
header nav {
  align-self: center;
}

header img {
  display: flex;
  width: 148px;
  cursor: pointer;
}

header nav {
  display: flex;
  align-items: center;
  gap: 2rem;
}

header nav ul {
  display: flex;
  gap: 2rem;
}

header nav ul a {
  font-family: var(--hFont);
  font-size: 22px;
  font-weight: 500;
}

header img.logo {
  display: flex;
  width: 148px;
  cursor: pointer;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  background-color: var(--bgColour);
}

.hamburger {
  display: none;
}

@media screen and (max-width: 935px) {
  header img.logo {
    width: 120px;
  }

  .hamburger {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 1;
  }

  .hamburger.active {
    color: var(--pYellow);
  }

  .nav-menu {
    display: none;
    flex-direction: column;
    gap: 1rem;
  }

  .nav-menu.active {
    display: flex;
  }
}