header {
    display: flex;
    justify-content: center;
    min-height: 123px;
}

header img,
header nav,
.dropdownContainer {
    align-self: center;
}

header img {
    display: flex;
    width: 148px;
    cursor: pointer;
}

header nav {
    display: flex;
    align-items: center;
    gap: 2rem;
}

header nav ul {
    display: flex;
    gap: 2rem;
}

header nav ul a {
    font-family: var(--hFont);
    font-size: 22px;
    font-weight: 500;
}

/* Hamburger & Dropdown */
.dropdownContainer {
    grid-column: 11;
    justify-self: center;
    position: relative;
}

.dropdownContainer .hamburgerMenu {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 2.1rem;
    cursor: pointer;
}

.dropdownContainer .hamburgerMenu div {
    height: 5px;
    background-color: var(--pGreen);
    border-radius: 16px;
    transform-origin: left;
    transition: all 0.4s;
}

.dropdownContainer .hamburgerMenu.active div:nth-child(1) {
    transform: rotate(40deg);
}

.dropdownContainer .hamburgerMenu.active div:nth-child(2) {
    opacity: 0;
}

.dropdownContainer .hamburgerMenu.active div:nth-child(3) {
    transform: rotate(-40deg);
}

.dropdownContainer .dropdown {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 610%;
    left: 50%;
    min-width: 185px;
    background-color: var(--highlight);
    border-radius: 1rem;
    box-shadow: var(--mainShadow);
    animation: fadeDown 0.4s ease-in both;
}

.dropdownContainer .hamburgerMenu.active+.dropdown {
    animation: fadeUp 0.48s ease-out both;
}

.dropdownContainer .dropdown a {
    display: block;
    padding: 0.5rem;
    width: 100%;
    text-align: center;
    font-family: var(--hFont);
    font-size: 21px;
    font-weight: 500;
    color: #677762;
    transition: ease all 0.32s;
}

.dropdownContainer .dropdown a:not(:last-child) {
    border-bottom: 1px dashed #7e7e7e;
}

.dropdownContainer .dropdown a:first-child {
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}

.dropdownContainer .dropdown a:last-child {
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.dropdownContainer .dropdown a:hover {
    background-color: var(--pGreen);
    color: var(--wPH);
    text-decoration: none;
}

@keyframes fadeUp {
    to {
        opacity: 1;
        transform: translate(-50%, -50%);
        z-index: 10;
    }

    from {
        opacity: 0;
        transform: translate(-50%, -10%);
        z-index: 10;
    }
}

@keyframes fadeDown {
    to {
        opacity: 0;
        transform: translate(-50%, -10%);
        left: 50%;
        z-index: -1;
    }

    from {
        opacity: 1;
        transform: translate(-50%, -50%);
        left: 50%;
        z-index: 10;
    }
}

@media screen and (max-width: 935px) {
    header>nav {
        display: none;
    }
}

@media screen and (min-width: 935px) {
    .dropdownContainer {
        display: none;
    }
}

@media screen and (max-width: 683px) {
    .dropdownContainer .dropdown {
        left: 0;
    }
}

@media screen and (max-width: 487px) {
    .dropdownContainer .dropdown {
        left: -65%;
    }
}